* {
    box-sizing: border-box;
}

/* khai báo biến  */
:root {
    --primary-font: "Poppins";
    --primay-font-02: "Sen";
}
/* html */
html {
    font-size: 62.5%;
}

/* body */
body {
    font-size: 1.6rem;
    font-family: var(--primary-font);
}

/* content box */
.content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    width: 144px;
    height: 50px;
    border-radius: 999px;
    text-align: center;
    background-color: #ffb900;
}
/* ====================================code================================= */
.header {
    background-color: #fffcf4;
    padding-top: 36px;
    padding-bottom: 65px;
}
.header .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-box .logo {
    margin-right: 486px;
}
/* các item link */
.nav-box .nav-link {
    padding: 0px 18px;
    color: #5f5b53;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
}
/* ================nav home=========== */
.nav-link:first-of-type {
    color: #171100;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
}
/*==================== làm after =======================*/
.nav-link:first-of-type::after {
    content: "";
    width: 12px;
    height: 2px;
    display: inline-block;
    position: relative;
    background-color: #171100;
    bottom: -8px;
    right: 48px;
}
/* ======================= btn nav=============== */
.nav-bar .nav-btn {
    padding: 11px 0px;
    color: #fff;
    background-color: #171100;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75;
}
/* ================================ HERO ============================ */
.hero {
    padding-bottom: 65px;
    background-color: #fffcf4;
}
.hero .content-hero {
    display: flex;
    gap: 230px;
}

.hero .box-banner {
    width: 51%;
    flex: 1 0 40%;
    position: relative;
}
.hero .hero-banner {
    /*img banner*/
    border-radius: 20px;
    background: url(<path-to-image>) lightgray -448.75px 0px / 218.672% 100% no-repeat;
    width: 100%;
    height: 685px;
    object-fit: cover;
}
/* ==================box nổi========================= */
.info-card {
    position: absolute;
    bottom: 48px;
    right: -100px;
    width: 270px;
    height: 244px;
    padding: 28px 24px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}

.info-card .box-info {
    display: flex;
    align-items: center;
    gap: 16px;
}

.box-info .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #fff9e8;
}

.box-info .box-item .data {
    color: #5f5b53;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.85;
}

.box-info .box-item .desc {
    color: #171100;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.66;
}
/* ================================================== */

.hero-info {
    margin-top: 128px;
}

.hero-info .hero-heading {
    color: #171100;
    font-family: var(--primay-font-02);
    font-size: 5.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.18; /* 117.241% */
    letter-spacing: -1.16px;
}

.hero-info .desc {
    margin-top: 22px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.66; /* 166.667% */
}
/*  =====================================hero cta============================= */

.hero-cta {
    display: flex;
    align-items: center;
    margin-top: 38px;
    margin-bottom: 48px;
}

.hero-cta .btn-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.66;
}

.hero-cta span {
    margin-left: 14px;
    align-items: center;
    color: #171100;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.66;
}

.btn-watch {
    display: flex;
    background-color: #fffcf4;
    align-items: center;
    margin-left: 28px;
    border: none;
}

.btn-watch .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 8px 16px 0 #00000012;
}

.box-data {
    display: flex;
    align-items: center;
    gap: 28px;
}

.data {
    display: flex;
    align-items: center;
}
.box-data .data span {
    margin-right: 14px;
    color: #171100;
    font-family: Sen;
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.22;
}
/* ==================== end hero============================ */
.content-popular {
    padding: 200px 0;
    position: relative;
}

.content-popular .heading {
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.26; /* 126.316% */
    letter-spacing: -0.76px;
}

.content-popular .desc {
    width: 458px;
    margin-top: 16px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.66;
}
/* ====================icon di chuyển ====================== */
.box-icon {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 208px;
    right: 0;
}

.box-icon .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.icon-left {
    border: 1px solid #ffb900;
}
.icon-left:hover {
    cursor: pointer;
}
/* -------------------------------------- */
.icon-right {
    background: #ffb900;
}
.icon-right {
    cursor: pointer;
}
/* ============================ courses===================== */
.courses {
    display: flex;
    gap: 30px;
    margin-top: 55px;
}

.courses .courses-box {
    background-color: #171100;
    width: 33.33%;
    flex: 0 0;
    border-radius: 12px;
    box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.05);
}

.courses-box .thumbnail {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 100%;
    height: 278px;
    object-fit: cover;
}

/* ================================= info==================================== */
.courses-box .box-info {
    padding: 17px 22px 22px;
}

.box-info .heading {
    color: #fff;
    /* color: #171100; */
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.66;
}

.box-info .desc {
    margin-top: 6px;
    width: 326px;
    color: #5f5b53;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.85;
}
.box-info .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row .star span {
    color: #fea31b;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
}

/* ================ cta ==================== */
.box-cta {
    display: flex;
    margin-top: 12px;
    justify-content: space-between;
    align-items: center;
}

.box-cta .price {
    color: #171100;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
}

.box-cta .btn-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
}
/* ============================= end popular================================ */
.testimonial {
    background-color: #2e2100;
    padding: 96px 0px;
}

.content-testimonial {
    display: flex;
    justify-content: space-between;
}

.content-testimonial .info-student .avt {
    width: 72px;
    height: 72px;
    border-radius: 50%;
}

.info-student .name-student {
    margin-top: 18px;
    color: #f7f7f7;
    font-family: Sen;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.41;
}

.info-student .desc {
    color: #bfbcb2;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.85;
}
.info-student .move {
    margin-top: 28px;
}
/* ===================================comment========================= */
.comment-student {
    position: relative;
}

.comment-student .icon {
    position: absolute;
    top: -25px;
    left: -30px;
}

.comment-student .comment {
    max-width: 740px;
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.53; /* 153.846% */
}
/* ==============================cta banner============================ */
.cta-banner {
    padding: 200px 0;
}
.content-cta-banner-01 {
    display: flex;
    gap: 130px;
    padding-bottom: 100px;
}

.content-cta-banner-01 .group-image {
    display: flex;
    gap: 30px;
    width: 50%;
}

.content-cta-banner-01 .group-image .banner {
    width: 100%;
    height: 405px;
    object-fit: cover;
    border-radius: 16px;
}

.group-image .banner:first-child {
    position: relative;
    bottom: -20px;
}
/* =======================info cta content 01============================ */
.info-cta {
    margin-top: 65px;
    width: 50%;
}

.info-cta .heading {
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.26; /* 126.316% */
    letter-spacing: -0.76px;
}

.info-cta .desc {
    max-width: 458px;
    margin-top: 16px;
    color: #5f5b53;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75;
}

.info-cta .since {
    margin-top: 16px;
    color: #5f5b53;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75;
}

.info-cta .btn-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75;
}
/* ============================================info-cta content 02================== */
.content-cta-banner-02 {
    display: flex;
    gap: 130px;
    padding-top: 100px;
}

.content-cta-banner-02 .banner {
    width: 470px;
    height: 440px;
    object-fit: cover;
    border-radius: 20px;
}
/* ================================ ou blog========================== */
.our-blog {
    background-color: #fffcf4;
    padding: 96px 0;
}

.content-our .header-our {
    text-align: center;
}

.header-our .heading {
    color: #130606;
    font-family: Sen;
    font-size: 3.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.26; /* 126.316% */
    letter-spacing: -0.76px;
}

.header-our .desc {
    width: 448px;
    margin-left: auto;
    margin-right: auto;
    color: #696262;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75;
}
/* ========================content our========================= */

.content-our .courses .courses-box {
    background-color: #fff;
    width: 33.33%;
    flex: 1 0;
}

.courses-box .sub-title {
    position: relative;
    color: #5f5b53;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.85;
}

/*  chấm tròn đằng trc */
.courses-box .sub-title::before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    top: 11px;
    left: -10px;
    background-color: #fea31b;
}
/* thành gạch ngang sau sub-title */
.courses-box .sub-title::after {
    content: "";
    display: block;
    width: 160px;
    height: 1px;
    background-color: #E2DFDA;
    position: absolute;
    bottom: -5px;

}

.content-our .courses-box .heading {
    margin-top: 20px;
    color: #171100;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75;
}

.courses-box .box-info .btn-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    color: #FFF;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.85;
}

.content-our .courses-box:not(:first-child) .box-info .btn-cta {
    background-color: #130606;
}

.content-our .move {
    margin-top: 38px;
    text-align: center;
}